Dear {{TONAME}},

Your {{DOMAIN}} web hosting account exceeded one or more of its resources within the last {{PERIOD}}.

Please note this is not indicative of a server issue, and is instead based on the resource usage of the scripts running inside your accounts. 

{% if epf %}Exceeded the maximum of {{lep}} concurrent website connections. Your website was not available {{epf}} times because of this problem.
{% endif %}{% if pmemf %}Exceeded the physical memory limit of {{lpmem}}KB. Your website was not available {{pmemf}} times because of this problem.
{% endif %}{% if vmemf %}Exceeded the virtual memory limit of {{lvmem}}KB. Your website was not available {{vmemf}} times because of this problem.
{% endif %}{% if nprocf %}Exceeded the number of processes limit of {{lnproc}}. Your website was not available {{nprocf}} times because of this problem.
{% endif %}{% if cpuf %}You reached limit of {{lcpu}} of total server CPU usage {{cpuf}} times. Your website was forced to load slower to reduce its CPU usage.
{% endif %}{% if iof %}You reached limit of {{lio}}KB/s disk io rate {{iof}} times. The disk io speed for your account was slowed as a result of this problem.
{% endif %}{% if iopsf %}You reached limit of {{liops}} I/O operations {{iopsf}} times. The disk io speed for your account was slowed as a result of this problem.
{% endif %}

CloudLinux improves the stability of a server by limiting each client in an isolated, secure environment called a Lightweight Virtual Environment (LVE), a kernel technology developed by CloudLinux.

In shared hosting, the most common reason for downtime is a single account slowing down other accounts on the server. If one customer is using an unfair amount of resources (e.g. due to being under a DDoS attack, poorly written script, etc.), the server would become slow or go down completely, affecting all other customers on the server.

With CloudLinux, we are able to isolate the impact to the offending tenant only, while all other sites remain unaffected. CloudLinux improves the general stability and performance of the server by imposing limits on the amount of resources that can be consumed by a single user.

<h3>What happens when an account reaches its resource limits?</h3>

This depends on the type of ‘resource’ you are hitting.

For example, if you are hitting CPU, or IO then the site will begin to slow down (or, will be ‘throttled’). However, if you are hitting ‘Entry Processes’ (EP) or ‘Memory’ (PMEM) limits then the site will display a ‘503 Error’.

The account consuming too many resources will temporarily stop working until their resource usage returns to normal. Meanwhile, the other tenants on the server will continue to run normally.

When an account hits the ‘LVE Limits’ for a particular resource, we record something we call a ‘fault’, along with a ‘snapshot’ which allow us to diagnose why those limits are being hit. These are explained below…


<h3>LVE ‘Faults’</h3>

An LVE ‘Fault’ is a recording of the ‘resource type’ being hit, along with the time / date / username


<h3>LVE ‘Snapshots’</h3>

When an LVE fault occurs, a snapshot is recorded. A snapshot is a list of processes running at the time of the LVE fault being hit, allowing users to further investigate the reason an account is hitting those resource limits.

Several snapshots can be generated for a particular ‘fault’ or incident.

Limits are put in place to protect against abusers and bad scripts, and not restrict normal usage of an account. We have set very generous limits for our hosting plans, and thus customers’ will not see a degrade in performance, but rather see the reliability and stability of their server improve over time.

If an account is exceeding the resource limits allocated frequently, it would be worth reviewing the resource consumption and snapshots from within the 'Resource Usage' screen in cPanel, or moving the account over to a service with larger limits. 

Kind regards,

Hosting Support
